
.position-box1{
    width: 400px;
    height: 400px;
    background-color: beige;
    position: absolute;
    
}
.position-box2{
    width: 300px;
    height: 300px;
    background-color: brown;
    position: absolute;
    z-index: 10;
}
.position-box3{
    width: 200px;
    height: 200px;
    background-color:darkcyan;
    position: absolute;
    right: 10px;
    left: 200px;
    top: 100px;
}

.p-img1{
    width: 500px;
    position: absolute;
    
}

.p-img2{
    width: 200px;
    position: absolute;
    right: 50px;
    bottom: 40px;
}

.p-parent{
    background-color: #181818;
    width: 500px;
    height: 600px;
    position: relative;
}