div {
    background-color: antiquewhite;
    width: 100%;
    height: 60px;
}
.position-box1{
    width: 400px;
    height: 400px;
    background-color: beige;
    position: absolute;
    
}
.position-box2{
    width: 300px;
    height: 300px;
    background-color: brown;
    position: absolute;
    z-index: 10;
}
.position-box3{
    width: 200px;
    height: 200px;
    background-color:darkcyan;
    position: absolute;
    right: 10px;
    top: 100px;
}